<div class="sidebar">

	<ul>
		<a href="{% url 'lodge_new' %}">
			{% if active = "new" %}
			<li class="active">File new FIR/GD</li>
			{% else %}
			<li>File new FIR/GD</li>
			{% endif %}
		</a>
		<a href="{% url 'dashboard' %}">
			{% if active == "dashboard" %}
			 <li class= "active">Recent FIRs</li>
			{% else %}
			 <li>Recent FIRs</li>
			{% endif %}
		</a>
		<a href="{% url 'settings' %}">
			{% if active = "setting" %}
			<li class="active">Settings</li>
			{% else %}
			<li>Settings</li>
			{% endif %}
		</a>
	</ul>
</div>