<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    {% load staticfiles %}
	<title>Online FIR and General Diary | User Profile</title>
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>

<div class="navigator">
	<ul>
		<li style="float:left;">Online FIR and GD Portal</li>
		<li id="size">Logout</li>
		<li id="size">|</li>
		<li id="size">Hi username</li>
	</ul>
</div>

<div class="sidebar">
	<ul>
		<a href="index.html"><li class="active">Recent FIRs</li></a>
		<a href="new.html"><li>File new FIR/GD</li></a>
		<a href="settings.html"><li>Settings</li></a>
	</ul>
</div>

<div class="content">
	
	<div class="heading">
		<h1>Recently filed FIRs and GDs</h1>
	</div>

	<hr id="divider">

	<div class="list">
		<ul>
			<li>1. Ghosh killed all the memes</li>
			<li>2. Ghosh not giving me 3000 rupees</li>
			<li>3. Ghosh is planting bombs in Counter Strike</li>
			<li>4. Ghosh killed himself</li>
		</ul>
	</div>
	
</div>



</body>
</html>
