{% extends 'base.html' %}
	{% block title %}<title>Online FIR and General Diary | User Profile</title>{% endblock %}
	

{% block content %}
<div class="content">
	
	<div class="heading">
		<h1>Recently filed FIRs and GDs</h1>
	</div>

	<hr id="divider">
	<div class="list">
		<ul>
			<li>1. Ghosh killed all the memes</li>
			<li>2. Ghosh not giving me 3000 rupees</li>
			<li>3. Ghosh is planting bombs in Counter Strike</li>
			<li>4. Ghosh killed himself</li>
		</ul>
	</div>
	
</div>
{% endblock %}