{% extends 'base.html' %}
{% block title %}<title>Online FIR and General Diary | User Profile</title>{% endblock %}
{% block content %}
	<div class="content">
	
		<div class="heading">
			<h1>File new FIR / General Diary</h1>
		</div>

		<hr id="divider">
	
		<div class="form-controls">
			<form>
			<input type="text" placeholder="Subject"/>
			<input type="text" placeholder="Who committed the crime"/>
			<input type="text" placeholder="When (Time)"/>
			<input type="text" placeholder="Where (Place)"/>
			<input type="text" placeholder="Witnesses"/>
			<input type="text" placeholder="What was taken away"/>
			<textarea placeholder="Details"></textarea>
			<input type="submit" value="submit" id="cent"/>
			</form>	
		</div>	

	</div>

{% endblock %}