{% extends 'base.html' %}
{% block title %}<title>Online FIR and General Diary | User Profile</title>{% endblock %}
{% block content %}
	<div class="content">
	
		<div class="heading">
			<h1>File new FIR / General Diary</h1>
		</div>

		<hr id="divider">
	
		<div class="form-controls">
			<form action = {% url "register" %} method="Post">
				{% csrf_token %}
			<input type="text" name="subject" placeholder="Subject"/>
			<input type="text" name="suspect" placeholder="Who committed the crime"/>
			<input type="text" name="occurence" placeholder="When (Time)"/>
			<input type="text" name="location" placeholder="Where (Place)"/>
			<input type="text" name="witness" placeholder="Witnesses"/>
			<input type="text" name="loss" placeholder="What was taken away(if any)"/>
			<textarea name="details" placeholder="Details"></textarea>
			<input type="submit" value="submit" id="cent"/>
			</form>	
		</div>	

	</div>

{% endblock %}