<!DOCTYPE HTML>
{% load staticfiles %}
<html>
  <head>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  </head>

  <body>

    <div class="nav">

        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
            <a href="{% url 'police_logout' %}"><div class="register-btn">Logout</div></a>
        </ul>
    </div>

    <div class="header">

        <div class="login-box col-lg-3">

            <div>
                <h3>Login</h3>
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                    <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                
                    <div class="form-group">
                    <label>Title</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" name="title" placeholder="" />
                        </div>
                    </div>
                    <div class="form-group">
                     <label>Detail</label>
                         <div class="col-lg-9">
                           <textarea class="col-lg-2 form-control" placeholder="Details" name="detail"> </textarea>
                        </div>
                    </div>
                    <div class="col-lg-11">
                        <input class="btn btn-default" type="submit" value="Submit" />
                    </div>
                </form>
        </div>

    </div>
        <ul>
                    {% for i in Fir %}
                    <li>
                        <div>
                            <p>{{i.title}} ,{{i.pub_date}}</p>
                            <p>{{i.detail}}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
        

  </body>



</html>